<% unless defined? container_id %>
	<% container_id = "#item#{feed_item_counter}" %>
<% end %>
<li><a href="javascript:NM.ajaxify({
				url: '/unlike?parent_id=<%= feed_item.id%>&parent_type=<%=feed_item.class.to_s%>&index=<%=feed_item_counter%>',
				type: 'delete',
				container: '<%= container_id %>'
			});"><%= I18n.t(:remove_likes) %></a>
</li>			