<% provide(:title, t(:home)) %>
<% if @first_timer %>
	<%= render 'first_time' %>
<% end %>
<% if @feed_front_page %>
	<div style="position:relative">
		<div style="height:14px;position: absolute; top: 20px; right: 10px;">
			<%= link_to feed_path(@feed.permalink, :atom) do %>
				<span class="pull-right">
					<%= image_tag("/assets/feed-icon-14x14.png", alt: "front page feed", class: "video-feed-icon", width: 14, height: 14)%>
					<%= t(:front_page_feed) %>
				</span>
			<% end %>
		</div>
		<div class="front-page-feed feed">
			<%= render partial: 'shared/post_form', locals: {show_post: true, show_video: true, show_blog: true} %>

		</div>
		<% if @feed_items.any? %>
			<%= render 'shared/ajax_loading', collection: @feed_items, loadPath: '/', loadNow: true %>
		<% end %>
		<% if signed_in? %>
			<script>
				//NM.every(60000).refreshFeedItems();
			</script>
		<% end %>
	</div>
<% else %>
	<div class="light-box">
	<div class="content">
		<% unless @article.nil? %>
			<%= @article.content.html_safe %>
		<% end %>
	</div>
</div>
<% end %>