<% provide(:title, 'Home') %>
<% if signed_in? %>
	<%= render 'shared/post_form' %>
	<%= render 'shared/video_form' %>
<% end %>
<h1>Timeline</h1>
<% if @feed_items.any? %>
	<div class="offset4">
		<%= will_paginate @feed_items %>
	</div>
	<div class="posts offset3">
		<%= render partial: 'shared/feed_item', collection: @feed_items %>
	</div>
	<div class="offset4">
		<%= will_paginate @feed_items %>
	</div>
<% end %>
