<% unless feed.name=="Main Feed" %>
	<% if !feed.hidden || feed.user==current_user %>
		<h3 class="community-name <%= 'hidden' if feed.hidden %>"><%= link_to feed.name, feed_path(feed.store_name) %></h3>
		<% if feed.user==current_user %>
			| <%= link_to t(:Rename), edit_feed_path(feed) %> | 
			<% if feed.hidden %>
				<%= link_to t(:show), feed_path(feed, "feed" =>{hidden: false}), method: :put %>
			<% else %>
				<%= link_to t(:hide), feed_path(feed, "feed" =>{hidden: true}), method: :put %>
			<% end %>
		<% end %>
	<% end %>
<% end %>