<%= form_for(feed) do |f| %>
	<%= f.text_field(:name, class: "post-input", placeholder: "Name") %>
	<%= f.text_field(:permalink, class: "post-input", placeholder: "URL (only alphanumeric and the minus character are allowed)") %>
	<%= f.label :description %>
	<%= f.text_area(:description, cols: 2, class: "tinymce post-input") %>
	<%= tinymce %>
	<div class="spacer"></div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>	