<% provide(:title, @blog.formatted_title) %>
<% content_for :javascript_includes do %>
	<%= javascript_include_tag "paginator.js" %>
<% end %>
<% content_for :css_includes do %>
	<%= stylesheet_link_tag    "paginator" %>
<% end %>
<h1><%= @blog.title %></h1>
<div class="feed">
	<% if current_user==@blog.user %>
		<%= render partial: 'shared/post_form', locals: {show_blog: true} %>
	<% end %>
	<div style="text-align:center;" id="paginatorContainer">
		<script>
			$(document).ready(function() {
				window.NM_paginator = new Paginator($("#paginatorContainer"), <%=@current_page%>, <%=@total_pages%>, "<%= blog_path %>?page=");
			});
		</script>
	</div>
	<%= render partial: 'shared/feed_item', collection: @blog_posts, comments_shown: false %>
</div>		

<%= render 'shared/ajax_loading', collection: @blog_posts, loadPath: '/blogs/'+params[:id], callbackName: "NM_paginator.next_page()" %>