<li class="article">
	<% begin %>
		<h2><%= link_to article_item.title, article_path(article_item) %></h2>
	<% rescue %>
		<% article.generate_permalink! %>
	<% end %>
	- <h4><%= "#{t(:by_author)} #{article_item.user.shown_name}" %></h4>
	<% if signed_in? && (current_user.admin? || current_user==article_item.user) %>
		| 
		<% if article_item.public %>
			<%= link_to t(:make_private), article_path(article_item, "article"=>{public: false}), method: :put %> 
		<% else %>
			<%= link_to t(:make_public), article_path(article_item, "article" =>{public: true}), method: :put %> 
		<% end%>
		| 
		<% if article_item.published %>
			<%= link_to t(:unpublish), article_path(article_item, "article"=>{published: false}), method: :put %> 
		<% else %>
			<%= link_to t(:publish), article_path(article_item, "article" =>{published: true}), method: :put %> 
		<% end%>
		| 
		<%= link_to t(:delete), article_item, method: :delete, data: {confirm: t(:delete_confirmation)} %>
	<% end %>
</li>