<div class="feed">
	<div class="feed-item head-element" id="feed-form">
		<%= render '/shared/feed_info', user: current_user %>
		<div class="content input-form article-form">
			<div id="post-form">
				<%= form_for(article) do |f| %>
					<%= f.text_field(:title, class: "post-input", placeholder: "Title") %>
					
					<%= f.text_area(:content, :rows=>1, :cols=>2, :class=>"tinymce")%>
					<%= my_tinymce %>
					<div class="spacer"></div>
					<p><u>Visibility options</u></p>
					<input type="radio" name="publishing_option" id="private" value="private"/><label for="private">  Only I can see it</label> <br/>
					<input type="radio" name="publishing_option" id="protected" value="protected" checked/><label for="protected">  Site members can see it</label><br/>
					<input type="radio" name="publishing_option" id="public" value="public"/><label for="public">  Everybody can see it</label>
					<div class="spacer"></div>
					<%= f.label :category_id %>
					<%= f.select(:category_id, options_from_collection_for_select(Category.all, "id", "name", article.category_id), include_blank: true) %>
					<div class="spacer"></div>
					<%= f.submit "Post", class: "btn btn-large btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>