<h2><%= "#{@competition.event.name} - #{@competition.name}" %></h2>
<h3>Results:</h3>
<% if @competition.results.any? %>
	<ul>
		<% i=0 %>
		<% @competition.results.sort_by {|r| r.position}.each do |r| %>
			<li>
				<%= "#{r.position.ordinalize} place: "%>
				<%= link_to real_name(r.user), user_path(r.user) %>
				<%  unless r.description.empty? %>
					<%= "- #{r.description}. " %>
				<% end %>
				<% unless r.video.nil? %>
					<%= link_to_function "Video...", "NM.toggleVisibility('#result_video#{i}');" %>
					<div id="result_video<%= i %>" style="display:none;">
						<%= render '/shared/video_item', feed_item: r.video %>
					</div>
				<% end %>
				<% if admin? %>
				|
					<%= link_to "Delete", r, method: :delete, data: {confirm: "Are you sure?" } %>
				<% end %>
			</li>
			<% i += 1 %>

		<% end %>
	</ul>
<% else %>	
	<p>No results yet.</p>
<% end %>
<% if signed_in? && @competition.event.start_date < Time.now %>
	<p>My ranking:</p>
	<%= render '/results/result_form', competition: @competition, result: @result %>
<% end %>