<div class="small video-container">
	<a href="<%= video_path(small_video_item) %>">
		<span class="video-title">
			<%= small_video_item.title %>
		</span>
		<div class="video-body">
			<% if small_video_item.vendor=="youtube" %>
				<%= render 'shared/videos/small/youtube_video', :uid => small_video_item.uid %>
			<% elsif small_video_item.vendor=="vimeo" %>
				<%= render 'shared/videos/small/vimeo_video', :uid => small_video_item.uid %>
			<% elsif small_video_item.vendor=="footbagorg" %>
				<%= render 'shared/videos/small/footbagorg_video', :uid => small_video_item.uid %>
			<% elsif small_video_item.vendor=="jugglingtv" %>
				<%= render 'shared/videos/small/jugglingtv_video', :uid => small_video_item.uid %>
			<% end %>
		</div>
		<div class="video-footer">
			<div class="date">
				<%= "#{small_video_item.created_at.strftime('%b')} #{small_video_item.created_at.strftime('%Y')}" %>
			</div>
			<ul class="nav post-footer-info pull-right">
				<img class="comments-img" src="/assets/comments.png">
				<%= small_video_item.comments.count %>
				<i class="icon-ok"></i>
				<%= small_video_item.likes.count %>
			</ul>
		</div>
	</a>
</div>