<% counter_odd = (user_counter%2)>0 %>
<% counter_base =  counter_odd ? user_counter-1 : user_counter %> 
<% if !counter_odd %>
 <tr>
<% end %>
<td class="user <%= "zebra" if (counter_base%4)==0 %>">
	<table style="width:100%">
		<tr>
			<td class="image_cell">
				<%= link_to user do %>
					<%= gravatar_for user, size: 50 %>
				<% end %>
			</td>
			<td>
			<div>
				<div class="name">
					<%= link_to user.shown_name, user  %>
					<% if admin? %>
						<span class="controls">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="icon-cog"></i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<% if user.author? %>
											<%= link_to "Revoke Author status", user_path(user, author: false),method: :put  %>
										<% else %>
											<%= link_to "Make Author", user_path(user, author: true),method: :put  %>
										<% end %>
									</li>
									<li>
										<% if user.admin? %>
											<%= link_to "Revoke Admin status", user_path(user, admin: false),method: :put  %>
										<% else %>
											<%= link_to "Make Admin", user_path(user, admin: true),method: :put  %>
										<% end %>
									</li>
									<li><%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %></li>
								</ul>
							</li>
						</span>
					<% end %>
				</div>
				<div class="user_location"> 
					<%= user.location %> 
				</div>
				<div class="role">
					<%= user.highest_role %> 
				</div>
			</div>
			
		</td>
		</tr>
	</table>

</td>

<% if counter_odd %>
 	</tr>

 <% end %>