<% counter_odd = (user_counter%2)>0 %>
<% counter_base =  counter_odd ? user_counter-1 : user_counter %> 
<% if !counter_odd %>
 <tr>
<% end %>
<td class=" <%= "zebra" if (counter_base%4)==0 %>">
	<%= link_to user do %>
		<%= gravatar_for user, size: 50 %>
		<h4 class="user_name">
			<%= user.shown_name %>
		</h4>
		<div class="user_location"> 
			<%= user.location %> 
		</div>
		<% if user.highest_role %>
			<div class="role">
				<%= user.highest_role %>
			</div>
		<% end %>
	<% end %>

</td>
<% if counter_odd %>
 	</tr>
 <% end %>