<% counter_odd = (user_counter%2)>0 %>
<% counter_base =  counter_odd ? user_counter-1 : user_counter %> 
<% if !counter_odd %>
 <tr>
<% end %>
<td class="user <%= "zebra" if (counter_base%4)==0 %>">
	<table style="width:100%">
	<%= link_to user do %>
		<tr>
			<td class="image_cell">
				<%= gravatar_for user, size: 50 %>
			</td>
			<td>
			<div>
				<div class="name">
					<%= user.shown_name %>
				</div>
				<div class="user_location"> 
					<%= user.location %> 
				</div>
				<div class="role">
					<%= user.highest_role %> 
				</div>
			</div>
		</td>
		</tr>
	<% end %>
	</table>
</td>
<% if counter_odd %>
 	</tr>
 <% end %>