<% provide(:title, "Edit User") %>
<h1>Update your profile</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for (@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<h3>User info</h3>
			<div class="form-horizontal">
				<%= f.label :name %>
			    <%= f.text_field :name, class: "form-input" %>
			    <i class="icon-warning-sign"></i><p class="warning-text sub-text">Real name please. Only exposed to registered users.</p>

			    <%= f.label :nickname %>
			    <%= f.text_field :nickname, class: "form-input" %>

			    <%= f.label :email %>
			    <%= f.text_field :email, class: "form-input" %>

			    <%= f.label :password, "New Password" %>
			    <%= f.password_field :password, class: "form-input", autocomplete: "off" %>

			    <%= f.label :password_confirmation, "Confirm Password" %>
			    <%= f.password_field :password_confirmation, class: "form-input", autocomplete: "off" %>
			</div>
			    
		    
		    <h3>Site info</h3>
		    <div class="form-horizontal">
		    	<%= f.label :gravatar_suffix, "Gravatar Email" %>
		    		<%= @user.email_parts[0] %>+<%= f.text_field :gravatar_suffix, class: "form-input short-input gravatar-input" %>@<%= @user.email_parts[1] %>
		    	<div>
			    	<% if !@user.blog.nil? %>
			    		<%= f.label :blog_title, "Blog Title" %>
			    		<%= f.text_field :blog_title, class: "form-input" %>
			    	<% end %>
			    </div>
			    <%= f.label :modified_user %>
			    <%= f.text_field :modified_user, class: "form-input" %>
			    <i class="icon-warning-sign"></i><p class="warning-text sub-text">Case sensitive. Allows us to connect your user with the content you created on the original modified forum.</p>
		    </div>
		    <h3>Private info</h3>
		    <i class="icon-warning-sign"></i>
			    <p class="warning-text sub-text">
			    This info is never exposed to unregistered users.	
			    </p>
		    <div class="form-horizontal">
			    
			    <%= f.label :country %>
			    <%= f.text_field :country, class: "form-input" %>
			    <%= f.label :city %>
			    <%= f.text_field :city, class: "form-input" %>
				<div class="date-selector">
					<%= f.label :birthday %>
					<%= f.date_select(:birthday, start_year: 1940, end_year: Time.now.year, prompt: true, order: [:day, :month, :year]) %>
				</div>
				<div class="date-selector">
					<%= f.label :started_playing %>
					<%= f.date_select(:started_playing, start_year: 1940, end_year: Time.now.year, discard_day: true, discard_month: true) %>
				</div>

				<%= f.label "BAP member?" %>
				<%= f.check_box :bap %>
				<%= f.label :bap_name %>
				<%= f.text_field :bap_name, class: "form-input" %>
				<div class="date-selector">
					<%= f.label :bap_induction %>
					<%= f.date_select(:bap_induction, start_year: 1940, end_year: Time.now.year, discard_day: true, discard_month: true) %>
				</div>
				<%= f.label :motto %>
				<%= f.text_field :motto, class: "form-input" %>
				<%= f.label :hobbies %>
				<%= f.text_field :hobbies, class: "form-input" %>
				<div class="about-me">
					<%= f.label :about_title, "'About me' Title" %>
					<%= f.text_field :about_title, id: "about-title", class: "form-input" %>
					<%= f.label :about_content, "'About Me' Content" %>
					<%= f.text_area :about_content, class: "tinymce" %>
					<%= tinymce %>
				</div>
			</div>
		    
		    <div class="container">
		    	<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		    </div>
		<% end  %>
		</a>
	</div>
</div>