<% provide(:title, t(:members)) %>
<div class="members">
	<div class="header">
		<h1><%= t(:members) %></h1>
			<div>
				<ul class="nav order-nav">
					<li><%= t(:all) %></li>
					<li><%= t(:latest) %></li>
					<li><%= t(:nearby) %></li>
				</ul>
			</div>
	</div>
	<table class="members-list">
		<%= render @users %>
	 </table>
	<%= will_paginate %>
</div>