<% provide(:title, t(:register)) %>
<h1>Sign up</h1>
<div class="row">
	<div class="span6 offset4">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-input" %>
			<i class="icon-warning-sign"></i><p class="warning-text sub-text">Use your real name. You can later choose a nickname to preserve privacy.</p>

			<%= f.label :email %>
			<%= f.text_field :email, class: "form-input" %>

			<%= f.label :password  %>
			<%= f.password_field  :password, class: "form-input"  %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field  :password_confirmation, class: "form-input" %>

			<h3>Anti Spam</h3>

			<%= label_tag :challenge, "What footbag discipline is this site about?" %>
			<%= text_field_tag :challenge, nil, class: "form-input" %>

			<% recaptcha_tags %>
			<% if admin? %>
				<div>
					<%= label_tag :registered, "Uncheck for virtual profile" %>
					<%= f.check_box :registered %>
				</div>
			<% end %>
			<div class="container">
				<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
