<% provide(:title, @user.shown_name) %>
<div class="row-fluid">
	<aside class="span4">
		<section>

			<h1>
				<%= @user.shown_name %>
			</h1>
			<div class="container span4 center">
				<%= gravatar_for @user %>
			</div>
			<% if @user.admin? %>
				<h2>
					Admin
				</h2>
			<% end %>
		</section>
		<ul class="user-actions-list">
			<% if @user==current_user %>
				
					<li><%= link_to "Edit details", edit_user_path(current_user) %></li>
					<li><%= link_to "My Messages", messages_path %></li>
				
			<% else %>
				<li><%= link_to "Send Message", new_message_path( recipient: @user) %>
				</li>
			<% end %>
		</ul>

	</aside>
	<div class="span8">
		<h1>Posts</h1>
		<% if @user.posts.any? %>
			<div class="feed">
				<%= render @posts %>
			</div>
		<% else %>
			<p class="pagination-centered">No posts by this user.</p>
		<% end %>
	</div>
</div>
