<% provide(:title, 'Videos') %>



<h1>Freestyle Videos</h1>
<% if signed_in? && current_user.admin? %>
	<div id="data-import" style="display:none;">
		<p>Data import:</p>
		<%= text_field_tag :data, nil, class: "post-input" %>
		<button class="btn" id="importButton">Send</button>
			<script>
				$("#importButton").click(function() {
					var elem = $("#data");
					var data = JSON.parse(elem.val());
					IM.videoImport(data);
				});
			</script>
	</div>
<% end %>
<div class="feed">
	<%= render 'shared/videos/search' %>
	<%= render partial: 'shared/post_form', locals: {show_video: true} %>
	<%= render partial: 'shared/feed_item', collection: @videos, comments_shown: false %>
</div>

<%= render 'shared/ajax_loading', collection: @videos, loadPath: '/videos/' %>

