<% provide(:title, 'Videos') %>

<h1>Freestyle Videos</h1>
<div class="light-box videos-page">
	<div class="atom-link">
		<%= link_to videos_url(:atom) do %>
			<span class="pull-right">
				<%= image_tag("/assets/feed-icon-14x14.png", alt: "videos feed", class: "video-feed-icon", width: 14, height: 14)%>
				<p class="label"><%= t(:videos_feed) %></p>
			</span>
		<% end %>
	</div>
	<%= render 'shared/videos/search' %>
	<div class="videos-list">
		<%= render partial: 'shared/videos/small/small_video_item', collection: @videos, comments_shown: false %>
	</div>
</div>

<%= render 'shared/ajax_loading', collection: @videos, loadPath: '/videos/', container: ".videos-list" %>


