<% container = ".feed" if container.nil? %>
<script>
	NM.registerFeed({
		maxPages: <%= collection.total_pages %>,
		path: '<%= loadPath %>',
		currentPage: <%= params[:page] || 1 %>,
		container: '<%= container %>',
		scrollable: true
		<% unless callbackName.nil? %>
			,callbackName: '<%= callbackName %>'
		<% end %>
	});
</script>
<div class="loading-indicator">
	<img  src="/assets/ajax-loader.gif"/>
</div>
