<% feedback = false unless defined? feedback %>
<% need_post = true unless (defined?(need_post) and need_post==false) %>
<% predefined_players ||= [] %>
<% idsPrefix ||="" %>
<% if defined? feed_item %>
	<%= render '/shared/feed_info', user: feed_item.user %>
<% end %>
<% players = (video.user_players||[]) +  (video.players||[]) %>
<% players = predefined_players if players.empty? %>
<% i=0 %>
<div id="<%=idsPrefix%>videoForm_wrapper">
	<%= form_for(video) do |f| %>
	<%= f.text_field(:url, :rows=>1, :cols=>2, :class=>"post-input", placeholder: "Video URL (supported: youtube, vimeo, footbag.org, juggling.tv)")%>
	<%= f.text_field(:title, :rows=>1, :cols=>2, :class=>"post-input", placeholder: "Title")%>
	<% if signed_in? && current_user.admin? %>
			<p>Category:</p>
			<%= f.select(:video_category_id, options_from_collection_for_select(VideoCategory.all, "id", "video_edit_display_name", video.video_category_id), include_blank: true) %>
	<% end %>
	<%= f.hidden_field :for_feedback, value: feedback %>
	<% if defined?(feed) && !feed.nil?%>
			<% if signed_in? && current_user.admin? %>
				<p>Feed id:</p>
				<%= f.text_field :feed_id, value: feed.id %>
			<% else %>
				<%= f.hidden_field :feed_id, value: feed.id %>
			<% end %>
	<% end %>
	<p>Players:</p>
	<div id="<%=idsPrefix%>players-input">
		<% if players.any? %>
			<% players.each do |p| %>
				<% name = p.class==String ? p : p.name %>
				<%= text_field_tag("Player_#{i}", nil, class: "post-input #{idsPrefix}Player_#{i} player-input", value: name)%>
				<% i = i+1 %>
			<% end %>
		<% else %>
			<%= text_field_tag("Player_#{i}", nil, class: "post-input #{idsPrefix}Player_#{i} player-input", placeholder: "Player name")%>
				<% i = i+1 %>
		<% end %>
	</div>

	<% if signed_in? && super_admins_email.include?(current_user.email) && !feedback %>
		<div>
			<%= label_tag "anonymous post" %>
			<%= check_box_tag :anonymous %>
		</div>
	<% end %>
	<script>
		NM.multiField({
			container: "#<%=idsPrefix%>videoForm_wrapper #<%=idsPrefix%>players-input",
			mold: "#<%=idsPrefix%>videoForm_wrapper #Player_<%= i-1 %>",
			startIndex: <%= i %>,
			moreText: "Another player...",
			placeholder: "Player name",
			idPrefix: "<%=idsPrefix%>"
		});
	</script>
	<% unless !need_post %>
		<%= f.submit "Post", class: "btn btn-large btn-primary" %>
	<% end %>
<% end %>
</div>
