<% unless user.nil? %>
	<% if defined?(size) && (size=="tiny" || size=="small") %>
		<%= render "/shared/feed_info_#{size}", user: user %>
	<% else %>
		<%= link_to user do %>
			<span>
				<%= gravatar_for user %>
					
			</span>
			<span>
				<h3 class="user_name">
					<%= user.shown_name %>
				</h3>
				
			</span>
		<% end %>
	<% end %>
<% else %>		
	<% if defined?(user_name) %>
		<span>
			<%= gravatar_for nil, size: 40 %>
		</span>
		<span>
			<h4 class="user_name">
				<%= user_name %>
			</h4>
		</span>
	<% end %>
<% end %>
	
	
