<% comments_shown ||=false  %>
<% commentDiv = "div#comment-container"+ feed_item.id.to_s; %>
<% openCommentFunc = 'NM.toggleVisibility("'+commentDiv+'");' %>
<div class="post-footer">
	<ul class="nav post-footer-actions">
		<li><%= link_to_function "Comment", openCommentFunc %></li>
		<li class="divider">|</li>
		<li><%= link_to "Kudos", '#' %></li>
	</ul>
	<ul class="nav post-footer-info pull-right">
		<li><%= time_ago_in_words(feed_item.created_at) %> ago</li>
		<li><%= link_to '#' do %>
				<img class="kudos-img" src="/assets/kudos.png"/>2
			<% end %>
		</li>
		<li class="clickable" onclick="<%= openCommentFunc %>">
				<img class="comments-img" src="/assets/comments.png">
				<%= feed_item.comments.count %>
		</li>
		
	</span>
</div>	
<% commentDisplay = comments_shown ? "block" : "none" %>
	<div class="comment-container" id="comment-container<%= feed_item.id %>" style="display:<%=commentDisplay%>">
		<% if feed_item.comments.any? %>
			<%= render feed_item.comments %>
		<% end %>
		<div class="comment-form">
			<%= render 'shared/comment_form', parent: feed_item %>
		</div>
	</div>
	<!--
	<span class="delete">
		<% if current_user %>
			<% if current_user.admin? || current_user?(feed_item.user) %>
				| 
				<% label = current_user?(feed_item.user) ? "delete" : "Admin delete" %>
				<%= link_to "#{label}", feed_item, :id => feed_item.id, method: :delete, data: {confirm: "You sure?"} %>
			<% end %>
		<% end %>
	</span>-->
	
