<div class="feed_item" id="item<%= feed_item.id %>">
	<%= render '/shared/feed_info', user: feed_item.user %>
	
	<% if feed_item.class==Post %>
		<%= render '/shared/post_item', :feed_item => feed_item%>
	<% end %>

	<% if feed_item.class==Video %>
		<%= render '/shared/video_item', :feed_item => feed_item%>
	<% end %>
</div>
<%= render 'shared/feed_item_footer', :feed_item => feed_item %>
