<% comments_shown ||=false  %>
<% commentDiv = "div#comment-container"+ feed_item.id.to_s; %>
<% openCommentFunc = 'NM.toggleVisibility("'+commentDiv+'");' %>
<div class="post-footer <%= "sticky" if (defined? feed_item.sticky) && feed_item.sticky==true%>">
	<ul class="nav post-footer-actions horizontal-menu">
		<li><%= link_to_function "Comment", openCommentFunc %></li>
		<% if !@already_liked %>
			<%= render 'shared/kudos/give', feed_item: feed_item, feed_item_counter: feed_item_counter %>
				
		<% else %>
			<%= render 'shared/kudos/take', :feed_item=> feed_item, feed_item_counter: feed_item_counter %>
		<% end %>
	</ul>
	<span class="timestamp"><%= time_ago_in_words(feed_item.created_at) %> ago</span>
	<ul class="nav post-footer-info pull-right">
		
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">

				<i class="icon-ok"></i>
				<%= feed_item.likes.count %>
			</a>
			<% if feed_item.likes.any? %>
				<ul class="dropdown-menu likers-flyout">
					<%= render partial: 'shared/kudos_givers', collection: feed_item.likes %>
				</ul>
			<% end %>
		</li>
		
		<li class="clickable" onclick="<%= openCommentFunc %>">
				<img class="comments-img" src="/assets/comments.png">
				<%= feed_item.comments.count %>
		</li>

	</ul>
	</span>
</div>	
<% commentDisplay = comments_shown ? "block" : "none" %>
<div class="comment-container" id="comment-container<%= feed_item.id %>" style="display:<%=commentDisplay%>">
	<% if feed_item.comments.any? %>
		<%= render feed_item.comments %>
	<% end %>
	<div class="comment-form">
		<%= render 'shared/comment_form', parent: feed_item %>
	</div>
</div>
	
