<% notification_item = front_page_notification_item %>
<% sender = notification_item.sender %>
<% if notification_item.parent_item %>
	<% receiver = notification_item.parent_item.user %>
<% end %>
<% item_name = notification_item.item.class.method_defined?(:name_for_notification) ? notification_item.item.name_for_notification : notification_item.item.class.to_s.downcase %>
<% if item_name=="user" %>
	<% sender = notification_item.item %>
<% end %>
<% if sender %>
	<li id="front_page_notification_item<%= notification_item.id %>">
		<%= link_to sender do %>
			<div class="avatar">
				<%= gravatar_for sender, size: 25 %>
				
			</div>
			<div>
				<span>
					<%= sender.shown_name %>
			<% end %>
			<% if notification_item.parent_item %>
				<%= notification_item.action_verb %> on
				<% if receiver %>
					<%= link_to receiver.shown_name, receiver %>'s
				<% else %>
					a
				<% end %>
				<% if notification_item.action_type.downcase=="comment" %>
					<%= link_to notification_item.action_type.downcase, notification_item.parent_item.commentable%>
				<% else %>
					<%= link_to notification_item.action_type.downcase, notification_item.parent_item  %>
				<% end %>
			<% else %>
				<% if item_name=="user" %>
					<%= I18n.t(:joined) %>
				<% else %>
					<% begin %>
						created a new <%= link_to item_name, notification_item.item  %>
					<% rescue %>
						created a new <%= item_name %>
					<% end %>
				<% end %>
			<% end %>

				</span>
			</div>
			<div class="timestamp">
				<%= time_ago_in_words(notification_item.created_at) %> ago
			</div>
	</li>		
<% end %>