<% if signed_in? %>
	<% unread_messages = current_user.received_messages.where(read: false).order('id desc').limit(10) %>
	<% unread_notifications = current_user.unread_notifications %>

	<li class="dropdown">
		<a href="#" class="messages-toggle dropdown-toggle" data-toggle="dropdown">
			<i class="icon-envelope <%= "icon-white" if unread_messages.any? %>"></i>
		</a>
		<ul class="dropdown-menu messages-flyout">
			<%= render partial: 'shared/personal_message_item', collection: unread_messages %>
			<li class="pull-right"><%= link_to "Mark all as read", '/markread' %></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="notifications-toggle dropdown-toggle" data-toggle="dropdown" onclick=<%= %q{NM.clearNotifications();} if unread_notifications.any?%> >
			<img src='/assets/comments<%="-white" if unread_notifications["texts"].any?%>.png' class="comments-img"/>
			<i class="icon-ok <%="icon-white" if unread_notifications["likes"].any?%>"></i>
		</a>
		<ul class="dropdown-menu notifications-flyout">
			<% @old_notifications = false %>
			<%= render partial: 'shared/personal_notification_item', collection: current_user.notifications.find(:all, limit: 10) %>
		</ul>
	</li>

<% end %>