<% show_post ||= false %>
<% show_video ||= false %>
<% show_blog ||= false %>
<% total = (show_post ? 1 : 0) + (show_video ? 1 : 0) + (show_blog ? 1 : 0) %>

<% if signed_in? && total>0 %>
	<script>
		$(document).ready(function(){
			NM.registerToggleMenu([	'div#post-form',
									'div#video-form',
									'div#blog-form',
									'div#achievements-form'],
									['li#wall',
									 'li#videos',
									 'li#blog',
									 'li#achievements'
									]);
		});
	</script>

	<div class="feed-item head-element" id="feed-form">
		<%= render '/shared/feed_info', user: current_user %>
		<div class="content input-form">
			<% if show_post %>
				<div id="post-form">
					<%= form_for(Post.create()) do |f| %>
						<%= f.text_area(:content, :rows=>1, :cols=>2, :class=>"post-input tinymce", placeholder: "Write something...")%>
						<%= f.hidden_field :feed_id, value: @feed.id %>
						<% if current_user.admin? %>
							<div>
								<span>Sticky:</span>
								<%= f.check_box :sticky %>
							</div>
						<% end %>
						<%= f.submit "Post", class: "btn btn-large btn-primary" %>
					<% end %>
				</div>
			<% end %>
			<% if show_video %>
				<div id="video-form" <% if total>1 %>style="display:none;"<% end %>>
					<%= render '/shared/edit_video_item', video:Video.create(), feed: @feed, feedback: defined?( show_video[:feedback]) ? show_video[:feedback] : false %>
				</div>
			<% end %>
			<% if show_blog %>

				<div id="blog-form" <% if total>1 %>style="display:none;"<% end %>>
				<h3>Write to your blog</h3>
				<%= form_for(BlogPost.create()) do |f| %>
					<%= f.text_area(:content, :rows=>4, :cols=>2, :class=>"tinymce", placeholder: "Write to your blog...")%>
					<%= my_tinymce %>
					<div style="height:10px"></div>
					<%= f.submit "Post", class: "btn btn-large btn-primary" %>
				<% end %>
				</div>
				<div id="achievements-form" style="display:none;">
					<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
					<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.min.css" rel="stylesheet" type="text/css">
					<h3>Record your latest achievement!</h3>
					<%= form_for(Achievement.create()) do |f| %>
						<%= f.select :achievement_type, options_for_select([["Hit new trick", 0], ["Hit new combo", 1], ["Back to Back record", 2], ["Competition Result", 3], ["Challenge met",4], ["Important Event", 5]]) %>
						<%= f.text_field(:name, :rows=>1, :cols=>2, :class=>"post-input", placeholder: "Achievement description")%>
						<%= f.text_field(:date, :rows=>1, :cols=>2, :class=>"post-input datepicker", placeholder: "Date Achieved", value: DateTime.now.strftime("%m/%d/%Y")) %>
						<p>Have video proof? (optional)</p>
					<% end %>
					<%= render '/shared/edit_video_item', video:Video.create(), idsPrefix: "achievement-", predefined_players: [current_user], feed: @feed, need_post: false, feedback: defined?( show_video[:feedback]) ? show_video[:feedback] : false %>
					<input type="submit" value="Post" class="btn btn-large btn-primary" name="commit" id="achievement_submit_btn">
					<script>
						$("#achievement_submit_btn").click(function() {
							var data = {
								utf8: "✓",
								authenticity_token: $("input[name='authenticity_token']").val(),
								achievement: {
									achievement_type: $("#achievement_achievement_type").val(),
									name: $("#achievement_name").val(),
									date: $("#achievement_date").val()

								},
								video: {
									url: $("#achievement-videoForm_wrapper #video_url").val(),
									title: $("#achievement-videoForm_wrapper #video_title").val(),
									for_feedback: false,
									feed_id: 1
								}
							};
							$("#achievement-videoForm_wrapper .player-input").each(function() {
								var _this = $(this);
								data[_this.attr("name")] = _this.val();
							});
							$.ajax( {
								type: "POST",
								url:"new_achievement",
								data: data,
								complete: function() {
									location.reload();
								}
							});
							return false;
						});
					</script>


				</div>
				<script>
					$(".datepicker").datepicker({maxDate:"0d"});
				</script>
			<% end %>
			
		</div>
		<% if total>1 %>

			<ul class="nav post-types">
				<li>Share a:</li>
				<% if show_post %>
					<li id="wall" class="post-type">Post</li>
					<li>|</li>
				<% end %>
				<% if show_video %>
					<li id="videos" class="post-type">Video</li>
					<li>|</li>
				<% end %>
				<% if show_blog %>
					<li id="blog" class="post-type">Blog</li>
					<li>|</li>
					<li id="achievements" class="post-type">Achievement!</li>
				<% end %>
			</ul>
		<% end %>
	</div>

<% end %>

