<% show_post ||= false %>
<% show_video ||= false %>
<% show_blog ||= false %>
<% total = (show_post ? 1 : 0) + (show_video ? 1 : 0) + (show_blog ? 1 : 0) %>

<% if signed_in? && total>0 %>
	<script>
		$(document).ready(function(){
			NM.registerToggleMenu([	'div#post-form',
				'div#video-form',
				'div#blog-form',
				'div#achievements-form',
				'div#session-form'],
				['li#wall',
					'li#videos',
					'li#blog',
					'li#achievements',
					'li#session'
				]);
		});
	</script>

	<div class="feed-item head-element" id="feed-form">
		<%= render '/shared/feed_info', user: current_user %>
		<div class="content input-form">
			<% if show_post %>
				<div id="post-form">
					<%= form_for(Post.create()) do |f| %>
						<%= f.text_area(:content, :rows=>1, :cols=>2, :class=>"post-input tinymce", placeholder: "Write something...")%>
						<%= f.hidden_field :feed_id, value: @feed.id %>
						<% if current_user.admin? %>
							<div>
								<span>Sticky:</span>
								<%= f.check_box :sticky %>
							</div>
						<% end %>
						<%= f.submit "Post", class: "btn btn-large btn-primary" %>
					<% end %>
				</div>
			<% end %>
			<% if show_video %>
				<div id="video-form" <% if total>1 %>style="display:none;"<% end %>>
					<%= render '/shared/edit_video_item', video:Video.create(), feed: @feed, feedback: defined?( show_video[:feedback]) ? show_video[:feedback] : false %>
				</div>
			<% end %>
			<% if show_blog %>

				<div id="blog-form" <% if total>1 %>style="display:none;"<% end %>>
					<h3>Write to your blog</h3>
					<%= form_for(BlogPost.create()) do |f| %>
						<%= f.text_area(:content, :rows=>4, :cols=>2, :class=>"tinymce", placeholder: "Write to your blog...")%>
						<%= my_tinymce %>
						<div style="height:10px"></div>
						<%= f.submit "Post", class: "btn btn-large btn-primary" %>
					<% end %>
				</div>
				<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
				<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.min.css" rel="stylesheet" type="text/css">
				<div id="session-form" style="display:none;">
					<h3>Record a session</h3>
					<%= render 'shared/sessions/edit_session_form', training_session:TrainingSession.create() %>

				</div>
				<div id="achievements-form" style="display:none;">

					<h3>Record your latest achievement!</h3>
					<%= render 'shared/achievements/edit_achievement_form', achievement:Achievement.create() %>
				</div>

			<% end %>

		</div>
		<% if total>1 %>

			<ul class="nav post-types">
				<li>Share a:</li>
				<% if show_post %>
					<li id="wall" class="post-type">Post</li>
					<li>|</li>
				<% end %>
				<% if show_video %>
					<li id="videos" class="post-type">Video</li>
					<li>|</li>
				<% end %>
				<% if show_blog %>
					<li id="blog" class="post-type">Blog</li>
					<li>|</li>
					<li id="session" class="post-type">Session</li>
					<li>|</li>
					<li id="achievements" class="post-type">Achievement</li>
				<% end %>
			</ul>
		<% end %>
	</div>

<% end %>

