<div class="video-content text-content">
	<h3 class="video-title">
		<%= feed_item.title %>
	</h3>
	<div class="meta-top">
	</div>
	<% if feed_item.vendor=="youtube" %>
		<%= render 'shared/youtube_video', :uid => feed_item.uid %>
	<% end %>
	<% if feed_item.vendor=="vimeo" %>
		<%= render 'shared/vimeo_video', :uid => feed_item.uid %>
	<% end %>
	<% if feed_item.vendor=="footbagorg" %>
		<%= render 'shared/videos/footbagorg_video', :uid => feed_item.uid %>
	<% end %>
	<div class="meta-bottom">
		<% players = (feed_item.user_players||[]) +  (feed_item.players||[]) %>
		<% if players.any? %>
			<%= players.count>1 ? "Players" : "Player"%>:
		
			<% players.each do |p| %>
				<span class="player">
					<% if p.class==String %>
						<%= p %>
					<% else %>
						<%=	link_to real_name(p), user_path(p) %>
					<% end %>
				</span>
			<% end %>
		<% end %>
	</div>

</div>
