<% i = 0 %>
<% user = current_user if user.nil? %>
<%= form_for(result) do |f| %>
	<div id="players-input">
		
		<% if result.users.any? %>
			<% result.users.each_with_index do |u| %>
				<%= text_field_tag("Player_#{i}", nil, class: "form-input", value: u.name) %>
				<% i = i+1 %>
			<% end %>
		<% else %>
			<%= text_field_tag("Player_#{i}", nil, class: "form-input", placeholder: "User name") %>
			<% i = i+1 %>
		<% end %>
	</div>
	<%= f.label :position %>
	<%= f.select :position, options_for_select((1..100).to_a.map { |a| ["#{a.ordinalize} place", a] }, result.position) %>
	<%= f.label :description %>
	<%= f.text_field :description, class: "form-input" %>
	<%= hidden_field_tag :competition_id, competition.id %>
	<%= f.label :video_url %>
	<% video_url = result.video.nil? ? "" : result.video.url %>
	<%= text_field_tag :video_url, nil, class: "form-input", value: video_url %>
	<div class="spacer"></div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
<script>
	NM.multiField({
		container: "#players-input",
		mold: "#Player_<%= i-1 %>",
		startIndex: <%= i %>,
		moreText: "Another player...",
		placeholder: "User name"
	});
</script>