<% i=0 %>
<%= form_for(event) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.label :name %>
	<%= f.text_field(:name, class: "post-input", placeholder: "Event Name") %>
	<div class="date-selector">
		<%= f.label :start_date %>
		<%= f.date_select(:start_date, start_year: 1980, end_year: 2050, prompt: true, order: [:day, :month, :year]) %>
		<%= f.label :end_date %>
		<%= f.date_select(:end_date, start_year: 1980, end_year: 2050, prompt: true, order: [:day, :month, :year]) %>
		<%= f.label :country %>
	    <%= f.text_field :country, class: "form-input" %>
	    <%= f.label :state %>
	    <%= f.text_field :state, class: "form-input" %>
	    <%= f.label :city %>
	    <%= f.text_field :city, class: "form-input" %>
		<%= label_tag "Competitions:", nil %>
		<div id="competitions-input">
			<% if event.competitions.any? %>
				<% event.competitions.each do |c| %>
					<%= text_field_tag("Competition_#{i}", nil, class: "post-input", value: c.name)%>
					<% i = i+1 %>
				<% end %>
			<% else %>
				<%= text_field_tag("Competition_#{i}", nil, class: "post-input", placeholder: "Competition name") %>
				<% i = i+1 %>
			<% end %>
		</div>
	</div>
	<div class="spacer"></div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
<script>
	NM.multiField({
		container: "#competitions-input",
		mold: "#Competition_0",
		startIndex: <%= i %>,
		moreText: "Another competition...",
		placeholder: "Competition name"
	});
</script>