<%= form_for(event) do |f| %>
	<%= f.text_field(:name, class: "post-input", placeholder: "Event Name") %>
	<div class="date-selector">
		<%= f.label :start_date %>
		<%= f.date_select(:start_date, start_year: 1980, end_year: 2050, prompt: true, order: [:day, :month, :year]) %>
	</div>
	<div class="spacer"></div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
