<% provide(:title, @event.name) %>
<h1><%= @event.name %></h1>
<h2>
	<%= @event.location %>
</h2>
<h2>
	<%= "#{@event.date_formatter(@event.start_date)}" %> 
	<% unless @event.end_date.nil? || @event.end_date==@event.start_date %>
		- <%= "#{@event.date_formatter(@event.end_date)}" %></h2>
	<% end %>
<% if @event.competitions.any? %>
	<h3>Competitions:</h3>
	<ul class="event-competitions">
		<% @competitions.each_with_index do |c, i| %>
			<li><%= link_to c.name, competition_path(c) %>
				<% if (@event.competitions.count>1) && (admin? || @event.user==current_user) %>
					|
					<%= link_to('^', reorder_path(c, order_index: i-1), method: :put) if i>0%>
					<%= link_to('v', reorder_path(c, order_index: i+1, ), method: :put) if i<@event.competitions.count-1 %>
				<% end %>
			</li>

		<% end %>
	</ul>
<% end %>
<% if @event.attendants.any? %>
	<h3>Attendants:</h3>
	<ul class="event-attendants">
		<% @event.attendants.each do |a| %>
			<li>
				<%= link_to a.user.shown_name, user_path(a.user) %>
				<% if a.user==current_user %>
					| <%= link_to "Remove my attendnace", event_path(@event, attendant: current_user.id), method: :put %>
				<% end %>
			</li>
		<% end %>
	</ul>
<% end %>
<% if signed_in? %>
	<% if @event.attendants.where("user_id = ? ", current_user.id).empty? %>
		<% participate_label= "I will attend" %>
		<% if @event.start_date.past? %>
			<% participate_label = "I attended" %>
		<% end %>
		<%= link_to participate_label, event_path(@event, attendant: current_user.id), method: :put %>
	<% end %>
	<% if admin? || @event.user==current_user %>
		<h3>Event Admin</h3>
		<div id="event_form">
			<%= render "event_form", event: @event %>
		</div>
	<% end %>

<% end %>