<div class="container feed-item feed-item-mobile">
	<h3>
		<% unless feed_item.user.nil? %>
			<%= feed_item.user.shown_name %>
		<% else %>
			Anonymous
		<% end %>
	</h3>
	<% if feed_item.class==Video %>
		<p class="text-content">
			Video:
			<%= render '/shared/videos/small_video_item_mobile', small_video_item_mobile: feed_item %>
		</p>
	<% elsif feed_item.class==Achievement %>
		<div class="text-content user_content">
			Achievement:
			<%= feed_item.get_type_name_for_feed %>:&nbsp;<%= feed_item.name.html_safe %>
		</div>
	<% else %>
		<div class="text-content user_content">
			<%= feed_item.content.html_safe %>
		</div>
	<% end %>
	<div>
		<span class="timestamp"><%= time_ago_in_words(feed_item.created_at) %> ago</span>
	</div>
</div>