<script src="http://code.highcharts.com/highcharts.js"></script>
<div class="light-box">
  <div id="chart-container" style="width:100%; height:400px;"></div>
  <% if @results.any?%>
      <script>
          $(function () {
              $('#chart-container').highcharts({
                  chart: {
                      type: 'line'
                  },
                  title: {
                      text: '<%=@training_drill.name%>'
                  },
                  xAxis: {
                      type: 'datetime',
                      min: Date.UTC(<%=@start_date.strftime "%Y"%>,<%=@start_date.strftime "%m"%>-1,<%=@start_date.strftime "%d"%>),
                      max: Date.UTC(<%=@end_date.strftime "%Y"%>,<%=@end_date.strftime "%m"%>-1,<%=@end_date.strftime "%d"%>)

                  },
                  yAxis: {
                      title: {
                          text: 'Drop Percentage'
                      }
                  },
                  tooltip: {
                      pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}%</b> ({point.sum_drops:,.0f} out of {point.attempts:,.0f}) ',
                      shared: true
                  },
                  series:[{name:'<%=@training_drill.name%> drop pct',
                          data: [
                      <% @results.each_with_index do |r,i| %>
                      {
                          y:<%= r.get_drop_percentage %>,
                          sum_drops: <%= r.get_summed_drops %>,
                          attempts: <%= r.getTotalContacts %>,
                          x:Date.UTC(<%=r.training_session.date.strftime "%Y"%>,<%=r.training_session.date.strftime "%m"%>-1,<%=r.training_session.date.strftime "%d"%>)
                      }
                          <% unless i==@results.length-1%>, <%end%>
                      <% end %>
                      ]}]
              });
          });
      </script>
    <% end %>
</div>