<!-- HEADER BAR -->
	<!-- span.header-logo: Logo container -->
	<!-- ul.user-menu: Logged in user menu -->
	<!-- ul.login-menu: no-user menu -->
<!-- SITE TOP -->
	<!-- div.site-top: Site top container -->
	<!-- ul.main-menu: Site main menu -->
<header class="navbar navbar-fixed-top">
	<!-- .headernav contains the color of the top bar -->
	<div class="navbar-inner headernav">
		<div class="container">
			<!-- Logo -->				
			<span class="header-logo">
				<a href="/#">
					<p class="brand">MODIFIED</p>
					<p class="brand brand2">IN</p>
				</a>
			</span>
			<% if signed_in? %>
				<!-- Signed in top bar option -->	
				<!-- contains: user options(profile, logout) and notifications -->
				<ul class="pull-right nav user-menu">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %>
						<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profile", user_path(current_user) %></li>
							<li class="divider"></li>
							<li><%= link_to "Log out", signout_path, method: "delete" %></li>
						</ul>
						<!--
						
					<% unread_notifications = current_user.notifications.where(read: false) %>
					<li class="notifications-count" onclick="NM.clearNotifications();NM.toggleVisibility($('div.notifications-flyout'));"><%= unread_notifications.count %></li>
					<div class="notifications-flyout span4">
						<ul>
							<% @old_notifications = false %>
							<%= render partial: 'shared/personal_notification_item', collection: current_user.notifications %>
						</ul>
					</div> -->
					</li>
				</ul>
			<% else %>
				<!-- Signed out top bar option -->			
				<!-- contains: login and register -->
				<ul class="nav pull-right login-menu">
					<li><%= link_to "Register", signup_path %></li>
					<li class="divider">|</li>
					<li><%= link_to "Login", signin_path %></li>

				</ul>
			<% end %>
		</div>
	</div>
</header>
<!-- Site top area (between the top bar and the content - place for navigation and big logo) -->
<div class="container site-top">
	<!-- Site main menu -->
	<ul class="nav nav-bold main-menu">
		<li><%= link_to "Home", root_path, class: active_if(controller: 'static_pages') %></li>
		<li><%= link_to "Videos", videos_path, class: active_if(controller: 'videos') %></li>
		<li><%= link_to "Blogs", '#', class: active_if(controller: 'blogs') %></li>
		<li><%= link_to "Users", users_path, class: active_if(controller: 'sessions') %></li>
	</ul>
</div>