<header class="navbar navbar-fixed-top">
	<div class="navbar-inner headernav">
		<div class="container">
			<ul class="nav pull-right headernav">
				<li><%= link_to "Sign up", '#' %></li>
				<li><%= link_to "Login", '#' %></li>
			</ul>
		</div>
	</div>
</header>

<div class="container">
	<img alt="<%= site_name %> Logo"  src="/assets/logo.png"/>
</div>
<div class="container">
	<ul class="nav nav-pills">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "My Area", '#' %></li>
	</ul>
</div>