<header class="navbar navbar-fixed-top">
	<div class="navbar-inner headernav">
		<div class="container">
			<% if signed_in? %>
				<ul class="pull-right nav headernav">
					<li><%=link_to "Hello #{current_user.name}. Sign out", signout_path, method: "delete" %></li>
				</ul>
			<% else %>
				<ul class="nav pull-right headernav">
					<li><%= link_to "Sign up", signup_path %></li>
					<li><%= link_to "Login", signin_path %></li>
				</ul>
			<% end %>
		</div>
	</div>
</header>

<div class="container">
	<img alt="<%= site_name %> Logo"  src="/assets/logo.png"/>
</div>
<div class="container">
	<ul class="nav nav-pills">
		<li><%= link_to "Home", root_path %></li>
		<% if signed_in? %>
			<li><%= link_to "My Area", user_path(current_user) %></li>
			<li><%= link_to "Users", users_path %></li>
		<% end %>
	</ul>
</div>