

<!-- HEADER BAR -->
	<!-- span.header-logo: Logo container -->
	<!-- ul.user-menu: Logged in user menu -->
	<!-- ul.login-menu: no-user menu -->
<!-- SITE TOP -->
	<!-- div.site-top: Site top container -->
	<!-- ul.main-menu: Site main menu -->
<header class="navbar navbar-fixed-top">
	<!-- .headernav contains the color of the top bar -->
	<div class="navbar-inner headernav">
		<div class="container">
			<!-- Logo -->				
			<span class="header-logo">
				<a class="brand" href="/#">
					<p class="brand1"><%= site_name.split[0] %></p>
					<p class="brand2"><%= site_name.split[1] %>!</p>
				</a>
			</span>
			<% if signed_in? %>
				<!-- Signed in top bar option -->	
				<!-- contains: user options(profile, logout) and notifications -->

				

				<ul class="pull-right nav user-menu">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.shown_name %>
						<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to t(:profile), user_path(current_user) %></li>
							<li><%= link_to t(:edit_profile),
								edit_user_path(current_user) %></li>
							<li><%= link_to t(:my_messages), messages_path %></li>
							<li><a href="/sessions/<%=current_user.id%>">My Sessions</a></li>
							<li><a href="/timeline/<%=current_user.id%>">My Achievements</a></li>
							<li class="divider"></li>
							<li><%= link_to t(:download_my_data), user_data_path %></li>
							<li><%= link_to t(:log_out), signout_path, method: "delete" %></li>
						</ul>
						
					
					</li>
				</ul>
				<script>
				// get notifications
				NM.every(30000).ajaxify({url:"/getnotifications",
									container: "#header-notifications"});
				</script>
				<% unread_notifications = current_user.notifications.where(read: false) %>
				<ul id="header-notifications" class="nav pull-right header-notifications">
					<%= render partial: 'shared/header_indicator' %>
				</ul>
			<% else %>
				<!-- Signed out top bar option -->			
				<!-- contains: login and register -->
				<ul class="nav pull-right login-menu">
					<li><%= link_to t(:register), signup_path %></li>
					<li class="hDivider">|</li>
					<li><%= link_to t(:login), signin_path %></li>

				</ul>
			<% end %>
		</div>
	</div>
</header>
<!-- Site top area (between the top bar and the content - place for navigation and big logo) -->
<div class="site-top">
	<div class="container">
		<div class="main-menu">
			<!-- Site main menu -->
			<ul class="nav-bold">
				<li><%= link_to t(:home), root_path %></li>
				<li>
					<%= link_to t(:videos), videos_path %>
					<% if true %>
						<ul>
							<li><a href="/video_groups/beginners/">Beginners</a></li>
							<li><a href="/video_groups/advanced/">Advanced</a></li>
							<li><%= link_to "All Videos", videos_path %></li>
						</ul>
					<% end %>
				</li>
	<!--			<li><%= link_to t(:communities), feeds_path %></li>
				<li><%= link_to t(:feedback), feedbacks_path %></li> -->
				<li><%= link_to t(:articles), articles_path %></li>
	<!--			<li><%= link_to t(:events), events_path %></li> -->
				<li><%= link_to t(:blogs), blogs_path %></li>
				<li><%= link_to t(:users), users_path %></li>
				<% if admin? %>
					<li><%= link_to t(:admin), admin_path %></li>
				<% end %>
				<% if signed_in? %>
					<li><%= link_to "Mobile Site", :mobile => 1 %></li>
				<% end %>
			</ul>
			<% if signed_in? %>
				<div class="search-bar span3">
					<div style="position: relative;">
						<i class="icon-search icon"></i>
					</div>
					<input type="text" placeholder="Search videos, posts, blogs..."/>
					<script>
						$(function() {
							 $(".search-bar input").keypress(function(e) {
								 if (e.which==10 || e.which==13) {
									 window.location.href = '/search?q='+$(this).val();
								 }

							 });
						});
					</script>
				</div>
			<% end %>
			</div>

	</div>
</div>