<%= render '/layouts/site_top' %>


		<div class="row-fluid">
			<% if defined?(@full_site_layout) %>
				<div class="span12">
					<%= yield %>
				</div>
			<% else %>
				<!-- MAIN BAR -->
				<div class="span9">
					<%= yield %>
				</div>
				<!-- RIGHT BAR -->
				<div class="right-bar span3 pull-right" id="activitiesBar">

					<h3><%=t(:activity)%>
						<span class="pull-right" style="position:relative;right:5px;cursor:pointer;" id="activitiesHider">-</span>
					</h3>
					<script>
						$(document).ready(function() {
							$("#activitiesHider").click(function() {
									NM.toggleVisibility($("#activitiesBar"));
								});
						});
					</script>
					<ul class="activities">
						<%= render(partial: 'shared/front_page_notification_item', collection: site_activities) || t(:no_activities_since_last_visit) %>
					</ul>
				</div>
			<% end %>
			
		</div>
				
<%= render '/layouts/site_bottom' %>