<%= render '/layouts/site_top' %>


		<div class="row-fluid">
			<!-- MAIN BAR -->
			<div class="span8">
				<%= yield %>
			</div>
			<!-- RIGHT BAR -->
			<div class="right-bar span4 pull-right">
				<h3><%=t(:activity)%></h3>
				<ul class="activities">
					<%= render partial: 'shared/front_page_notification_item', collection: Notification.where(public: true).limit(20).order('id desc') %>
				</ul>
			</div>
			
		</div>
				
<%= render '/layouts/site_bottom' %>