<%= render '/layouts/site_top' %>


		<div class="row-fluid">
			<% if defined?(@full_site_layout) %>
				<div class="span12">
					<%= yield %>
				</div>
			<% else %>
				<!-- MAIN BAR -->
				<div class="span9">
					<%= yield %>
				</div>
				<!-- RIGHT BAR -->
				<% if signed_in? %>
				<div class="right-bar span3 pull-right" id="chatBar">
					<p>Chat</p>
					<div class="chat-container">
						<div id="chat-messages"></div>
						<textarea id="chat-message"></textarea>
						<div class="chat-send-container">
							<input class="btn" id="chat-send"
							type="submit" value="Send"/>
						</div>
					</div>
					<script type="text/javascript" src="assets/socket.io.js"></script>
					<script type="text/javascript">
				    //Create a chat module to use.
				      (function () {
				        window.Chat = {
				          socket : null,

				          initialize : function(socketURL) {
				            this.socket = io.connect(socketURL);

				            //Send message on button click or enter
				            $('#chat-send').click(function() {
				              Chat.send();
				            });

				            $('#chat-message').keyup(function(evt) {
				              if ((evt.keyCode || evt.which) == 13) {
				                Chat.send();
				                return false;
				              }
				            });

				            //Process any incoming messages
				            this.socket.on('new', this.add);
				            this.socket.emit('history');
				          },

				          //Adds a new message to the chat.
				          add : function(data) {
				          	data = JSON.parse(data);
				          	for (var i=0; i<data.length; i++) {
				          		var datum = data[i];
					            var name = datum.name || 'anonymous';
					            var msg = $('<div class="chat-msg"></div>')
					              .append('<span class="chat-name">' + name + '</span>: ')
					              .append('<span class="chat-text">' + datum.msg + '</span>');

					            $('#chat-messages')
					              .show()
					              .append(msg)
					              .animate({scrollTop: $('#chat-messages').prop('scrollHeight')}, 0);
					          }
				          },

				          //Sends a message to the server,
				          //then clears it from the textarea
				          send : function() {
				          	var message = $('#chat-message').val();
				          	if (!message || /^\s*$/.test(message)) {
				          		return;
				          	}
				            this.socket.emit('msg', {
				              name: '<%= current_user.shown_name %>',
				              msg: message
				            });

				            $('#chat-message').val('');
				          }
				        };
				      }());
				      $(document).ready(function() {
				       Chat.initialize('http://54.244.123.247:8080');
				      });
				    </script>
				</div>
				<% end %>
				<div class="right-bar span3 pull-right" id="activitiesBar">
					
					<p><%=t(:activity)%>
						<span class="pull-right" style="position:relative;right:5px;cursor:pointer;" id="activitiesHider">-</span>
					</p>
					<script>
						$(document).ready(function() {
							$("#activitiesHider").click(function() {
									NM.toggleVisibility($("#activitiesBar"));
								});
						});
					</script>
					<ul class="activities">
						<%= render(partial: 'shared/front_page_notification_item', collection: site_activities) || t(:no_activities_since_last_visit) %>
					</ul>
				</div>
			<% end %>
			
		</div>
				
<%= render '/layouts/site_bottom' %>