<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<script>
NM.every().ajaxify({url:"/activities",
					container: ".activities"});
</script>

<body>
	<!-- static part of every page is the heade -->
	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
		<% end %>
		<!-- dynamic part of every page is pasted here -->
		<div class="row-fluid">
			<!-- MAIN BAR -->
			<div class="span8">
				<%= yield %>
			</div>
			<!-- RIGHT BAR -->
			<div class="right-bar span4 pull-right">
				<h3>Activity</h3>
				<ul class="activities">
					<%= render partial: 'shared/front_page_notification_item', collection: Notification.find(:all, order: "id desc", limit: 20) %>
				</ul>
			</div>
			
		</div>
				
		<%= debug(params) if Rails.env.development? %>
	</div>

</body>
</html>
